@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
body {
  background-color: #23251c;
}

section {
  margin-top: 5em;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  font-size: 1rem;
}

p {
  color: #e0e0e0;
}

.navBar {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 100vw;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-image: url(https://saefood.netlify.app/img/navBackground.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  padding: 1em 0;
}
.navBar #toggler, .navBar label {
  display: none;
}
.navBar .logo a img {
  width: 5vw;
}
.navBar .menu .seccionesNav {
  display: flex;
  align-items: center;
  gap: 2em;
  list-style: none;
  margin: 0 1em;
}
.navBar .menu .seccionesNav li a {
  color: #FDFFA9;
  transition-duration: 0.5s;
}
.navBar .menu .seccionesNav li a:hover {
  color: #B3541E;
}

.footerNav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
  padding: 3em 0;
  margin-top: 5em;
  background-image: url(https://saefood.netlify.app/img/footerBackground.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.footerNav .seccionesFooter ul {
  display: flex;
  gap: 1em;
}
.footerNav .seccionesFooter ul li a {
  color: #FDFFA9;
  transition-duration: 0.5s;
}
.footerNav .seccionesFooter ul li a:hover {
  color: #B3541E;
}
.footerNav .btnWhatsapp a {
  font-family: sans-serif;
}
.footerNav .redesFooter ul {
  display: flex;
  gap: 1em;
  align-items: center;
}
.footerNav .redesFooter ul li a img {
  width: 2vw;
  transition-duration: 0.5s;
}
.footerNav .redesFooter ul li a img:hover {
  width: 2.5vw;
}

.separador {
  height: 1px;
  width: 55vw;
  content: "";
  border-bottom: 1px solid #383a32;
}

[class*=btn] {
  background-color: #fa8072;
  padding: 0.5em;
  border-radius: 50px;
  height: 3em;
  display: flex;
  align-items: center;
}
[class*=btn] a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #FDFFA9;
  transition-duration: 0.5s;
  margin: 1em;
}
[class*=btn] a:hover {
  color: #B3541E;
}

.btnWhatsapp {
  background-color: #4cd8a2;
}

.btnContactUs {
  background-color: #fa8072;
}

.btnNews {
  background-color: #06fbca;
}

main {
  margin-top: 20vh;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.intro > * {
  margin: 1rem 0;
}
.intro h1 {
  font-size: 5rem;
}
.intro h2 {
  margin: 0;
  font-size: 2rem;
}

.propiedades {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  margin: 1.5em auto;
}
.propiedades .tarjetas {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: #7882a4;
  border: solid 2px #484e62;
  margin: 0 auto;
  padding: 1em;
  border-radius: 25px;
  height: 1fr;
  width: 25vw;
}
.propiedades .tarjetas:hover p {
  opacity: 1;
}
.propiedades .tarjetas > * {
  margin: 1em 0;
}
.propiedades .tarjetas p {
  margin: 2em;
  opacity: 0;
  transition-duration: 250ms;
}
.propiedades .tarjetas img {
  width: 5vw;
  margin-bottom: 0.5em;
}
.propiedades .tarjetas h3 {
  text-transform: capitalize;
  font-size: 2rem;
  margin-top: 0;
}

.informacionSeafood {
  background-color: #383a32;
  display: flex;
  justify-content: space-evenly;
}
.informacionSeafood .textoInformacion {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  padding: 50px;
}
.informacionSeafood .textoInformacion :nth-child(odd) {
  color: #b2b2b2;
  font-size: 1rem;
}
.informacionSeafood .textoInformacion > * {
  margin: 0.25em auto;
}
.informacionSeafood .imgInformacion {
  display: grid;
  place-content: center;
}
.informacionSeafood .imgInformacion img {
  height: 35vh;
  width: 90%;
  border-radius: 1em;
  margin: 1rem;
  margin-left: 2rem;
  object-fit: cover;
  height: 50vh;
  width: 100%;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.video h4 {
  font-size: 2.5rem;
  text-align: center;
}
.video .separador {
  margin: 2em auto;
  width: 75vw;
}
.video video {
  margin: 2em auto;
  width: 85%;
  height: 75vh;
}

.noticias {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #7b7c76;
  height: fit-content;
  padding: 1.5em 0;
}
.noticias .intro {
  grid-area: 1/1/1/2;
  margin-left: 2em;
}
.noticias .intro h4 {
  font-size: 2rem;
}
.noticias .btnNews {
  grid-area: 1/2/1/3;
  margin: auto;
  width: 10vw;
}
.noticias .btnNews a {
  margin: auto;
}
.noticias .externos {
  grid-area: 2/1/2/3;
  margin: 2em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  cursor: pointer;
}
.noticias .externos img {
  width: 10vw;
  transition-duration: 0.5s;
}
.noticias .externos img:hover {
  width: 11vw;
}

.blog, .products {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5em;
}
.blog .informacion, .products .informacion, .products .products__article, .products .products__article--right, .blog .informacion--left, .products .informacion--left {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #4e5049;
  border-radius: 40px;
  margin: 0 3em;
  height: fit-content;
}
.blog .informacion img, .products .informacion img, .products .products__article img, .products .products__article--right img, .blog .informacion--left img, .products .informacion--left img {
  width: 45%;
  height: 50%;
  object-fit: cover;
  margin: 1em auto;
  border-radius: 20px;
}
.blog .informacion .blog__text, .products .informacion .blog__text, .products .products__article .blog__text, .products .products__article--right .blog__text, .blog .informacion--left .blog__text, .products .informacion--left .blog__text {
  display: grid;
  place-content: center;
  text-align: center;
  width: 35%;
  margin: 0 auto;
  row-gap: 1em;
}
.blog .informacion .blog__text h3, .products .informacion .blog__text h3, .products .products__article .blog__text h3, .products .products__article--right .blog__text h3, .blog .informacion--left .blog__text h3, .products .informacion--left .blog__text h3 {
  font-size: 2rem;
}
.blog .informacion .blog__text p, .products .informacion .blog__text p, .products .products__article .blog__text p, .products .products__article--right .blog__text p, .blog .informacion--left .blog__text p, .products .informacion--left .blog__text p {
  font-size: 0.9rem;
}
.blog .informacion--left, .products .informacion--left, .products .products__article--right {
  flex-direction: row-reverse;
  background-color: #383a32;
}
.blog :nth-child(5) .blog__text, .products :nth-child(5) .blog__text {
  width: 35vw;
}
.blog :nth-child(5) .blog__text--right, .products :nth-child(5) .blog__text--right {
  text-align: center;
  width: 35%;
  display: grid;
  place-content: center;
  row-gap: 2em;
  margin: 3em 5em;
  font-weight: 500;
}

.products .products__article .products__text, .products .products__article--right .products__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 35vw;
  margin: 0 auto;
  gap: 1em;
  margin: 1.5em auto;
}
.products .products__article .products__text h3, .products .products__article--right .products__text h3 {
  font-size: 2.5rem;
}
.products .products__article .products__text > :nth-child(3), .products .products__article--right .products__text > :nth-child(3) {
  font-weight: 900;
  font-size: 1.85em;
  color: #fff;
}
.products .products__article .products__text .ingredientes, .products .products__article--right .products__text .ingredientes {
  list-style: decimal;
  list-style-position: inside;
}
.products .products__article .products__text .ingredientes li, .products .products__article--right .products__text .ingredientes li {
  color: #e0e0e0;
}
.noticias__wraper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  margin: 1.5em auto;
}
.noticias__wraper .noticias__article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25vw;
  height: 1fr;
  margin: 0 auto;
}
.noticias__wraper .noticias__article img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}
.noticias__wraper .noticias__article .noticias__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  height: 100%;
  text-align: center;
  padding: 1.5em;
  background-color: #7b7c76;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}
.noticias__wraper .noticias__article .noticias__text h2 a {
  transition-duration: 0.25s;
}
.noticias__wraper .noticias__article .noticias__text h2 a:hover {
  color: #4cd8a2;
}

.creadores__wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #383a32;
}
.creadores__wraper .creadores__text {
  text-align: right;
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
}
.creadores__wraper .creadores__text h2 {
  font-size: 3.5rem;
}
.creadores__wraper .creadores__text p {
  width: 35vw;
}
.creadores__wraper .creadores__img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.creadores__wraper .creadores__img img {
  border-radius: 1em;
  margin: 1rem;
  width: 75%;
  height: auto;
}

.creadores__articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  margin: 1.5em auto;
}
.creadores__articles .creadores__article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25vw;
  height: 1fr;
  margin: 0 auto;
  height: 100%;
  border-radius: 15px;
  background-color: #7882A4;
  border: solid 2px #484e62;
}
.creadores__articles .creadores__article > img {
  width: 15vw;
  height: 35%;
  object-fit: cover;
  border-radius: 7px;
  margin-top: 1em;
}
.creadores__articles .creadores__article .creadores__informacion {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  text-align: center;
  padding: 1.5em;
}
.creadores__articles .creadores__article .creadores__informacion .creadores__linkedin a img {
  width: 3vw;
}

.form__wraper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
  margin: 2rem auto;
  border-radius: 30px;
  width: 95%;
}
.form__wraper .form {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  grid-area: 1/1/1/4;
  display: grid;
  place-content: center;
  background-color: #383a32;
}
.form__wraper .form h3 {
  font-size: 3rem;
  text-align: center;
  margin: 1em auto;
}
.form__wraper .form .form__inputs {
  margin-bottom: 2em;
}
.form__wraper .form .form__inputs form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.form__wraper .form .form__inputs form .form__btn__wraper {
  width: 50%;
  height: 2.5em;
  cursor: pointer;
}
.form__wraper .form .form__inputs form .form__btn__wraper:hover .form__btn {
  color: #B3541E;
}
.form__wraper .form .form__inputs form .form__btn__wraper .form__btn {
  cursor: pointer;
  margin: 0 auto;
  border: none;
  transition-duration: 0.5s;
  font-size: 1rem;
  background-color: transparent;
}
.form__wraper .form .form__inputs form .form__input {
  width: 150%;
}
.form__wraper .form .form__inputs form .form__input label input {
  padding: 1em;
  width: 100%;
  border: none;
  background: none;
  outline: 0;
  color: #ffffff;
  border-bottom: 1px solid #d63031;
  margin: 1em;
}
.form__wraper .form .form__inputs form .form__input label textarea {
  padding: 1em;
  width: 100%;
  border: none;
  background: none;
  outline: 0;
  color: #ffffff;
  border-bottom: 1px solid #d63031;
  margin: 1em;
}
.form__wraper .form__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3em;
  background-color: #1c1d16;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.form__wraper .form__info h3 {
  font-size: 3rem;
  text-align: center;
  margin: 1em auto;
}
.form__wraper .form__info ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  margin-top: 1.5em;
  gap: 0.5em;
}
.form__wraper .form__info ul li :nth-child(2) {
  font-family: sans-serif;
}
.form__wraper .form__info ul li a {
  transition-duration: 0.5s;
}
.form__wraper .form__info ul li a:hover {
  color: #b2b2b2;
}
.form__wraper .form__info p {
  width: 75%;
  text-align: center;
}
.form__wraper .form__info p :nth-child(1) {
  color: #fff;
  cursor: pointer;
}
.form__wraper .form__info p a {
  transition-duration: 0.5s;
}
.form__wraper .form__info p a:hover {
  color: #B3541E;
}

@media screen and (max-width: 767px) {
  .navBar {
    background-position: 100%;
  }
  .navBar .logo a img {
    width: 10vw;
  }
  .menu {
    width: 100%;
    max-height: 0;
    display: none;
  }
  .seccionesNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    display: flexbox;
    justify-content: center;
  }
  .seccionesNav li {
    width: 100%;
    text-align: center;
    font-size: 0.85rem;
  }
  .btnContactUs {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .navBar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 1em;
  }
  .navBar #toggler {
    display: inline-flex;
    opacity: 0;
  }
  .navBar #toggler:checked ~ .menu {
    max-height: 100%;
    display: block;
  }
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .intro h1 {
    text-align: center;
    width: 100%;
    font-size: 2.5rem;
  }
  .intro h2 {
    text-align: center;
    font-size: 1.5rem;
  }
  .propiedades {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
  }
  .propiedades .tarjetas {
    width: 65%;
    margin: 0 auto;
    height: fit-content;
  }
  .propiedades .tarjetas img {
    width: 15vw;
  }
  .propiedades .tarjetas h3 {
    width: 100%;
    font-size: 2rem;
  }
  .propiedades .tarjetas p {
    opacity: 1;
  }
  .informacionSeafood {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .informacionSeafood .textoInformacion {
    width: 100%;
    text-align: center;
    gap: 0.5em;
  }
  .informacionSeafood .imgInformacion {
    margin-bottom: 2em;
  }
  .informacionSeafood .imgInformacion img {
    display: flex;
    margin: 0 auto;
    width: 80%;
    height: 45vh;
  }
  .video {
    display: none;
  }
  .noticias {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }
  .noticias .intro {
    margin: 0 1em;
    text-align: center;
  }
  .noticias .btnNews {
    width: fit-content;
    margin: 1em;
  }
  .noticias .externos {
    display: none;
  }
  .footerNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    gap: 1em;
  }
  .footerNav .seccionesFooter {
    margin-top: 2em;
  }
  .footerNav .seccionesFooter ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5em;
  }
  .footerNav .redesFooter {
    margin: 1.5em;
  }
  .footerNav .redesFooter ul li {
    text-align: center;
  }
  .footerNav .redesFooter ul li a img {
    width: 8vw;
  }
  .blog .informacion, .products .informacion, .blog .informacion--left, .products .informacion--left, .products .products__article, .products .products__article--right {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
    height: fit-content;
  }
  .blog .informacion img, .products .informacion img, .blog .informacion--left img, .products .informacion--left img, .products .products__article img, .products .products__article--right img {
    width: 80%;
    height: 45vh;
  }
  .blog .informacion .blog__text, .products .informacion .blog__text, .blog .informacion--left .blog__text, .products .informacion--left .blog__text, .products .products__article .blog__text, .products .products__article--right .blog__text {
    gap: 2em;
    margin: 2em;
    width: 90%;
  }
  .blog .informacion:nth-child(5), .products .informacion:nth-child(5), .blog .informacion--left:nth-child(5), .products .informacion--left:nth-child(5), .products .products__article:nth-child(5), .products .products__article--right:nth-child(5) {
    flex-direction: column;
  }
  .blog .informacion .blog__text--right, .products .informacion .blog__text--right, .blog .informacion--left .blog__text--right, .products .informacion--left .blog__text--right, .products .products__article .blog__text--right, .products .products__article--right .blog__text--right {
    width: 100%;
    padding: 3em;
  }
  .products {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
  }
  .products .products__article, .products .products__article--right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .products .products__article .products__text, .products .products__article--right .products__text {
    width: 90%;
    margin: 1em;
  }
  .noticias__wraper {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
  }
  .noticias__wraper .noticias__article {
    width: 70%;
  }
  .creadores__wraper {
    flex-direction: column;
  }
  .creadores__wraper .creadores__text {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .creadores__wraper .creadores__text h2 {
    margin-top: 0.5em;
  }
  .creadores__wraper .creadores__text p {
    width: 100%;
    padding: 2em;
  }
  .creadores__wraper .creadores__img {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
  }
  .creadores__wraper .creadores__img img {
    margin: 0 auto;
    height: 35vh;
    width: 90%;
    object-fit: cover;
  }
  .creadores__articles {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
  }
  .creadores__articles .creadores__article {
    width: 80vw;
  }
  .creadores__articles .creadores__article > img {
    width: 50%;
    height: 20vh;
  }
  .creadores__articles .creadores__article .creadores__informacion .creadores__linkedin a img {
    width: 7vw;
  }
  .form__wraper {
    display: grid;
    grid-template-columns: 1fr;
    width: 75%;
    margin: 2em auto;
  }
  .form__wraper .form {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0;
  }
  .form__wraper .form .form__inputs form .form__input {
    margin-left: 0;
    width: 75%;
  }
  .form__wraper .form__info {
    border-top-right-radius: 0;
    border-bottom-left-radius: 30px;
  }
  .form__wraper .form__info h3 {
    margin-bottom: 0;
  }
  .form__wraper .form__info ul li {
    margin-top: 0;
  }
  .form__wraper .form__info p {
    margin-bottom: 1.5em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .navBar {
    background-position: 100%;
  }
  .navBar .logo a img {
    width: 6vw;
  }
  .navBar .menu {
    width: 100%;
    max-height: 0;
    display: none;
  }
  .navBar .menu .seccionesNav {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .navBar .menu .seccionesNav li {
    width: 100%;
    text-align: center;
    font-size: 0.85rem;
  }
  .navBar .menu .seccionesNav .btnContactUs {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .navBar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 1em;
  }
  .navBar #toggler {
    display: inline-flex;
    opacity: 0;
  }
  .navBar #toggler:checked ~ .menu {
    max-height: 100%;
    display: block;
  }
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .intro h1 {
    text-align: center;
    width: 100%;
    font-size: 3rem;
  }
  .intro h2 {
    text-align: center;
    font-size: 1.5rem;
  }
  .propiedades {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
  }
  .propiedades .tarjetas {
    width: 65%;
    margin: 0 auto;
    height: fit-content;
  }
  .propiedades .tarjetas img {
    width: 7vw;
  }
  .propiedades .tarjetas h3 {
    width: 100%;
    font-size: 2rem;
  }
  .propiedades .tarjetas p {
    opacity: 1;
  }
  .informacionSeafood {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .informacionSeafood .textoInformacion {
    width: 100%;
    text-align: center;
    gap: 0.5em;
  }
  .informacionSeafood .imgInformacion {
    display: flex;
    margin: 0 auto;
    width: 80%;
    height: 45%;
  }
  .video {
    display: none;
  }
  .noticias {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }
  .noticias .intro {
    margin: 0 1em;
    text-align: center;
  }
  .noticias .btnNews {
    width: fit-content;
    margin: 1em;
  }
  .noticias .externos {
    display: none;
  }
  .blog .informacion, .products .informacion, .blog .informacion--left, .products .informacion--left, .products .products__article, .products .products__article--right {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: fit-content;
  }
  .blog .informacion img, .products .informacion img, .blog .informacion--left img, .products .informacion--left img, .products .products__article img, .products .products__article--right img {
    width: 80%;
    height: 45vh;
  }
  .blog .informacion .blog__text, .products .informacion .blog__text, .blog .informacion--left .blog__text, .products .informacion--left .blog__text, .products .products__article .blog__text, .products .products__article--right .blog__text {
    gap: 2em;
    margin: 2em;
    width: 90%;
  }
  .blog .informacion:nth-child(5), .products .informacion:nth-child(5), .blog .informacion--left:nth-child(5), .products .informacion--left:nth-child(5), .products .products__article:nth-child(5), .products .products__article--right:nth-child(5) {
    flex-direction: column;
  }
  .blog .informacion:nth-child(5) .blog__text--right, .products .informacion:nth-child(5) .blog__text--right, .blog .informacion--left:nth-child(5) .blog__text--right, .products .informacion--left:nth-child(5) .blog__text--right, .products .products__article:nth-child(5) .blog__text--right, .products .products__article--right:nth-child(5) .blog__text--right {
    width: 100%;
    padding: 3em;
  }
  .products {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
  }
  .products .products__article, .products .products__article--right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .products .products__article img, .products .products__article--right img {
    height: 45vh;
    width: 90%;
  }
  .products .products__article .products__text, .products .products__article--right .products__text {
    width: 90%;
    margin: 1em;
  }
  .noticias__wraper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
  }
  .noticias__wraper .noticias__article {
    width: 80%;
  }
  .creadores__wraper {
    flex-direction: column;
  }
  .creadores__wraper .creadores__text {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .creadores__wraper .creadores__text h2 {
    margin-top: 0.5em;
  }
  .creadores__wraper .creadores__text p {
    width: 100%;
    padding: 2em;
  }
  .creadores__wraper .creadores__img {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
  }
  .creadores__wraper .creadores__img img {
    margin: 0 auto;
    height: 50vh;
    width: 70%;
    object-fit: cover;
  }
  .creadores__articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
  }
  .creadores__articles .creadores__article {
    width: 40vw;
  }
  .creadores__articles .creadores__article > img {
    width: 50%;
    height: 20vh;
  }
  .creadores__articles .creadores__article .creadores__informacion .creadores__linkedin a img {
    width: 5vw;
  }
  .form__wraper {
    display: grid;
    grid-template-columns: 1fr;
    width: 75%;
    margin: 2em auto;
  }
  .form__wraper .form {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0;
  }
  .form__wraper .form .form__inputs form .form__input {
    margin-left: 0;
    width: 100%;
  }
  .form__wraper .form__info {
    border-top-right-radius: 0;
    border-bottom-left-radius: 30px;
  }
  .form__wraper .form__info h3 {
    margin-bottom: 0;
  }
  .form__wraper .form__info ul li {
    margin-top: 0;
  }
  .form__wraper .form__info p {
    margin-bottom: 1.5em;
  }
}/*# sourceMappingURL=estilos.css.map */