@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

$familia: 'Raleway', sans-serif;
$hover: #B3541E;
$parrafo: #e0e0e0;

body {
    background-color: #23251c;
}

section {
    margin-top: 5em;
}

* {
    margin: 0;
    padding: 0;
    font-family: $familia;
    color: #fff;
    text-decoration: none;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    font-size: 1rem;
}

p {
    color: $parrafo;
}

.navBar {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100vw;
    top: 0;
    justify-content: space-between;
    align-items: center;
    background-image: url(https://saefood.netlify.app/img/navBackground.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    padding: 1em 0;
    .logo {
        a {
            img {
                width: 5vw;
            }
        }
    }
    .menu {
        .seccionesNav {    
            display: flex;
            align-items: center;
            gap: 2em;
            list-style: none;
            margin-right: 1em;
            li {
                a {
                    color: #FDFFA9;
                    transition-duration: .5s;
                    &:hover {
                        color: $hover;
                    }
                }
            }
            .btnContactUs {
                margin-right: 1em;
            }
        }
    }
}

.footerNav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
    margin-top: 5em;
    background-image: url(https://saefood.netlify.app/img/footerBackground.svg);
    background-repeat: no-repeat;
    .seccionesFooter {
        ul {
            display: flex;
            gap: 1em;
            li {
                a {
                    color: #FDFFA9;
                    transition-duration: .5s;
                    &:hover {
                        color: $hover;
                    }
                }
            }
        }
    }
    .btnWhatsapp {
        a {
            font-family: sans-serif;
        }
    }
    .redesFooter {
        ul {
            display: flex;
            gap: 1em;
            align-items: center;
            li{
                a{
                    img{
                        width: 2vw;
                        transition-duration: .5s;
                        &:hover {
                            width: 2.5vw;
                        }
                    }
                }
            }
        }
    }
}

.separador {
    height: 1px;
    width: 55vw;
    content: '';
    border-bottom: 1px solid #383a32;
}

[class*="btn"] {
    background-color: #fa8072;
    padding: .5em;
    border-radius: 50px;
    height: 2em;
    display: flex;
    align-items: center;
    a {
    text-decoration: none;
    font-family: $familia;
    color: #FDFFA9;
    transition-duration: .5s;
    margin: 1em;
    &:hover {
        color: $hover;
    }
    }
}