.noticias__wraper {
    @include grid;
    .noticias__article {
        @include article;
        img {
            width: 100%;
            object-fit: cover;
            border-top-left-radius: 0.375rem;border-top-right-radius: 0.375rem;
        }
        .noticias__text {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            gap: 1em;
            height: 100%;
            text-align: center;
            padding: 1.5em;
            background-color: #7b7c76;
            border-bottom-left-radius: 0.375rem;border-bottom-right-radius: 0.375rem;
            h2 a {
                transition-duration: .25s;
                &:hover {
                    color: #4cd8a2;
                }
            }
        }
    }
}