$redes:(
    Whatsapp: #4cd8a2,
    ContactUs: #fa8072,
    News: #06fbca,
);
@each $red, $color in $redes {
    .btn#{$red}{
        background-color: $color;
    }
};

@mixin creadores__img {
    height: 75vh;
    width: auto;
    border-radius: 1em;
    margin: 1rem;
    margin-left: 2rem;
    object-fit: cover;
}

@mixin grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    row-gap: 5em;
}

@mixin article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 25vw;
    height: 1fr;
    margin: 0 auto;
}

@mixin formulario {
    padding: 1em;
    width: 100%;
    border: none;
    background: none;
    outline: 0;
    color: #ffffff;
    border-bottom: 1px solid #d63031;
    margin: 1em;
}

@mixin botones {
    background-color: #fa8072;
    padding: .5em;
    border-radius: 50px;
    height: 2em;
    display: flex;
    align-items: center;
}

@mixin titulos {
    font-size: 3rem;
    text-align: center;
    margin: 1em auto;
}

@mixin columna {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin gridResponsive {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
}

@mixin tarjetasResponsive {
    width: 65%;
    margin: 0 auto;
    height: fit-content;
    img {
        width: 10vw;
    }
    h3 {
        width: 100%;
        font-size: 2rem;
    }
    p {
        opacity: 1;
    }
}

@mixin introResponsive {
    @include columna;
            justify-content: center;
            h1 {
                text-align: center;
                width: 100%;
                font-size: 2.5rem;
            }
            h2 {
                text-align: center;
                font-size: 1.5rem;
            }
}

@mixin informacionSeafoodResponsive {
    @include columna;
        .textoInformacion {
            width: 100%;
            text-align: center;
            gap: .5em;
        }
        .imgInformacion {
            margin-bottom: 2em;
            img {
                display: flex;
                margin: 0 auto;
                width: 80%;
                height: 45%;
            }
        }
}

@mixin noticasResponsive {
    @include columna;
        height: fit-content;
        .intro {
            margin: 0 1em;
            text-align: center;
        }
        .btnNews {
            width: fit-content;
            margin: 1em;
        }
        .externos {
            display: none;
        }
}

@mixin blogResponsive {
    .informacion {
        @include columna;
        flex-direction: column-reverse;
        width: 90%;
        margin: 0 auto;
        height: fit-content;
        img {
            width: 80%;
            max-height: 35vh;
        }
        .blog__text {
            gap: 2em;
            margin: 2em;
            width: 90%;
        }
    }
    :nth-child(5) {
        flex-direction: column;
        .blog__text--right {
            width: 100%;
            padding: 3em;
        }
    }
}