@media screen and (max-width: 767px) {
    .navBar {
        background-position: 100%;
        .logo {
            a {
                img {
                    width: 10vw;
                }
            }
        }
        .menu {
            width: 100%;
            max-height: 0;
            display: none;
            .seccionesNav{
                @include columna;
                margin: 0 auto;
                display: flexbox;
                justify-content: center;
                li {
                    width: 100%;
                    text-align: center;
                    font-size: .85rem;
                }
                .btnContactUs {
                    width: fit-content;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                }
            }
        }
        label {
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            margin-right: 1em;
        }
        #toggler {
            display: inline-flex;
            opacity: 0;
            &:checked ~ .menu {
                max-height: 100%;
                display: block;
            }
        }
    }
    main {
        .intro {
            @include introResponsive;
        }
        .propiedades {
            @include gridResponsive;
            .tarjetas {
                @include tarjetasResponsive;
            }
        }
    
    .informacionSeafood {
        @include informacionSeafoodResponsive;
    }
    .video {
        display: none;
    }
    .noticias {
        @include noticasResponsive;
    }
}
    .footerNav {
        @include columna;
        height: fit-content;
        gap: 1em;
        .seccionesFooter {
            margin-top: 2em;
            ul {
                @include columna;
                margin-bottom: 1.5em;
            }
        }
        .redesFooter {
            margin: 1.5em;
            ul {
                li {
                    text-align: center;
                    a {
                        img {
                            width: 8vw;
                        }
                    }
                }
            }
        }
    }
    .blog {
        @include blogResponsive;
    }
    .products {
        display: grid;
        .products__article {
            @include columna;
            .products__text {
                width: 90%;
                margin: 1em;
            }
        }
    }
    .noticias__wraper {
        display: grid;
        grid-template-columns: 1fr;
        .noticias__article {
            width: 70%;
        }
    }
    .creadores__wraper {
        flex-direction: column;
        .creadores__text {
            width: 100%;
            text-align: center;
            margin: 0 auto;
            h2 {
                margin-top: .5em;
            }
            p {
                width: 100%;
                padding: 2em;
            }
        }
        .creadores__img {
            display: flex;
            justify-content: center;
            margin-bottom: 2em;
            img {
                margin: 0 auto;
                height: 35vh;
                width: 90%;
            }
        }
    }
    .creadores__articles {
        display: grid;
        grid-template-columns: 1fr;
        .creadores__article {
            width: 80vw;
            > img {
                width: 50%;
                height: 20vh;
            }
            .creadores__informacion {
                .creadores__linkedin {
                    a {
                        img {
                            width: 7vw;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width:768px) and (max-width:1023px) {
    .navBar {
        background-position: 100%;
        .logo {
            a {
                img {
                    width: 10vw;
                }
            }
        }
        .menu {
            width: 100%;
            max-height: 0;
            display: none;
            .seccionesNav{
                @include columna;
                margin: 0 auto;
                display: flexbox;
                justify-content: center;
                li {
                    width: 100%;
                    text-align: center;
                    font-size: .85rem;
                }
                .btnContactUs {
                    width: fit-content;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                }
            }
        }
        label {
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            margin-right: 1em;
        }
        #toggler {
            display: inline-flex;
            opacity: 0;
            &:checked ~ .menu {
                max-height: 100%;
                display: block;
            }
        }
    }
    main {
        .intro {
            @include introResponsive;
            h1 {
                font-size: 3rem;
            }
        }
        .propiedades {
            display: grid;
            .tarjetas {
                @include tarjetasResponsive;
                height: 100%;
                img {
                    width: 7vw;
                }
            }
        }
        .informacionSeafood {
            @include informacionSeafoodResponsive;
        }
        .video {
            display: none;
        }
        .noticias {
            @include noticasResponsive;
        }
    }
    .blog {
        @include blogResponsive;
    }
    .products {
        display: grid;
        .products__article {
            display: flex;
            flex-direction: row;
            img {
                width: auto;
                margin: auto;
                padding: 1em;
                border-radius: 30px;
            }
            .products__text {
                width: 75%;
                margin: 1em;
            }
        }
        .products__article--right {
            flex-direction: row-reverse;
        }
    }
    .noticias__wraper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .noticias__article {
            width: 80%;
        }
    }
    .creadores__wraper {
        flex-direction: column;
        .creadores__text {
            width: 100%;
            text-align: center;
            margin: 0 auto;
            h2 {
                margin-top: .5em;
            }
            p {
                width: 100%;
                padding: 2em;
            }
        }
        .creadores__img {
            display: flex;
            justify-content: center;
            margin-bottom: 2em;
            img {
                margin: 0 auto;
                height: 35vh;
                width: 90%;
            }
        }
    }
    .creadores__articles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .creadores__article {
            width: 40vw;
            > img {
                width: 50%;
                height: 20vh;
            }
            .creadores__informacion {
                .creadores__linkedin {
                    a {
                        img {
                            width: 5vw;
                        }
                    }
                }
            }
        }
    }
}