@media screen and (max-width: 767px) {
    .navBar {
        background-position: 100%;
    }
    .navBar .logo a img {
        width: 10vw;
    }
    .menu {
        width: 100%;
        max-height: 0;
        display: none;
    }
    .seccionesNav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        display: flexbox;
        justify-content: center;
    }
    .seccionesNav li {
        width: 100%;
        text-align: center;
        font-size: .85rem;
    }
    .btnContactUs {
        width: fit-content;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .navBar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        margin-right: 1em;
    }
    .navBar #toggler {
        display: inline-flex;
        opacity: 0;
    }
    .navBar #toggler:checked ~ .menu {
        max-height: 100%;
        display: block;
    }
    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .intro h1 {
        text-align: center;
        width: 100%;
        font-size: 2.5rem;
    }
    .intro h2 {
        text-align: center;
        font-size: 1.5rem;
    }
    .propiedades {
        display: grid;
        grid-template-columns: 1fr;
        place-content: center;
    }
    .propiedades .tarjetas {
        width: 65%;
        margin: 0 auto;
        height: fit-content;
    }
    .propiedades .tarjetas img {
        width: 15vw;
    }
    .propiedades .tarjetas h3 {
        width: 100%;
        font-size: 2rem;
    }
    .propiedades .tarjetas p {
        opacity: 1;
    }
    .informacionSeafood {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .informacionSeafood .textoInformacion {
        width: 100%;
        text-align: center;
        gap: .5em;
    }
    .informacionSeafood .imgInformacion {
        margin-bottom: 2em;
    }
    .informacionSeafood .imgInformacion img {
        display: flex;
        margin: 0 auto;
        width: 80%;
        height: 45vh;
    }
    .video {
        display: none;
    }
    .noticias {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }
    .noticias .intro {
        margin: 0 1em;
        text-align: center;
    }
    .noticias .btnNews {
        width: fit-content;
        margin: 1em;
    }
    .noticias .externos {
        display: none;
    }
    .footerNav {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        gap: 1em;
    }
    .footerNav .seccionesFooter {
        margin-top: 2em;
    }
    .footerNav .seccionesFooter ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1.5em;
    }
    .footerNav .redesFooter {
        margin: 1.5em;
    }
    .footerNav .redesFooter ul li {
        text-align: center;
    }
    .footerNav .redesFooter ul li a img {
        width: 8vw;
    }
    .blog .informacion {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 90vw;
        margin: 0 auto;
        height: fit-content;
    }
    .blog .informacion img {
        width: 80%;
        height: 45vh;
    }
    .blog .informacion .blog__text {
        gap: 2em;
        margin: 2em;
        width: 90%;
    }
    .blog .informacion:nth-child(5) {
        flex-direction: column;
    }
    .blog .informacion .blog__text--right {
        width: 100%;
        padding: 3em;
    }
    .products {
        display: grid;
        grid-template-columns: 1fr;
        place-content: center;
    }
    .products .products__article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .products .products__article .products__text {
        width: 90%;
        margin: 1em;
    }
    .noticias__wraper {
        display: grid;
        grid-template-columns: 1fr;
        place-content: center;
    }
    .noticias__wraper .noticias__article {
        width: 70%;
    }
    .creadores__wraper {
        flex-direction: column;
    }
    .creadores__wraper .creadores__text {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .creadores__wraper .creadores__text h2 {
        margin-top: .5em;
    }
    .creadores__wraper .creadores__text p {
        width: 100%;
        padding: 2em;
    }
    .creadores__wraper .creadores__img {
        display: flex;
        justify-content: center;
        margin-bottom: 2em;
    }
    .creadores__wraper .creadores__img img {
        margin: 0 auto;
        height: 35vh;
        width: 90%;
        object-fit: cover;
    }
    .creadores__articles {
        display: grid;
        grid-template-columns: 1fr;
        place-content: center;
    }
    .creadores__articles .creadores__article {
        width: 80vw;
    }
    .creadores__articles .creadores__article > img {
        width: 50%;
        height: 20vh;
    }
    .creadores__articles .creadores__article .creadores__informacion .creadores__linkedin a img{
        width: 7vw;
    }
    .form__wraper {
        display: grid;
        grid-template-columns: 1fr;
        width: 75%;
        margin: 2em auto;
    }
    .form__wraper .form {
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0;
    }
    .form__wraper .form .form__inputs form .form__input {
        margin-left: 0;
        width: 75%;
    }
    .form__wraper .form__info {
        border-top-right-radius: 0;
        border-bottom-left-radius: 30px;
    }
    .form__wraper .form__info h3 {
        margin-bottom: 0;
    }
    .form__wraper .form__info ul li {
        margin-top: 0;
    }
    .form__wraper .form__info p {
        margin-bottom: 1.5em;
    }
}
@media screen and (min-width:768px) and (max-width:1023px) {
    .navBar {
        background-position: 100%;
    }
    .navBar .logo a img {
        width: 6vw;
    }
    .navBar .menu {
        width: 100%;
        max-height: 0;
        display: none;
    }
    .navBar .menu .seccionesNav {
        display: flexbox;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .navBar .menu .seccionesNav li {
        width: 100%;
        text-align: center;
        font-size: .85rem;
    }
    .navBar .menu .seccionesNav .btnContactUs {
        width: fit-content;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .navBar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        margin-right: 1em;
    }
    .navBar #toggler {
        display: inline-flex;
        opacity: 0;
    }
    .navBar #toggler:checked ~ .menu {
        max-height: 100%;
        display: block;
    }
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .intro h1 {
        text-align: center;
        width: 100%;
        font-size: 3rem;
    }
    .intro h2 {
        text-align: center;
        font-size: 1.5rem;
    }
    .propiedades {
        display: grid;
        grid-template-columns: 1fr;
        place-content: center;
    }
    .propiedades .tarjetas {
        width: 65%;
        margin: 0 auto;
        height: fit-content;
    }
    .propiedades .tarjetas img {
        width: 7vw;
    }
    .propiedades .tarjetas h3 {
        width: 100%;
        font-size: 2rem;
    }
    .propiedades .tarjetas p {
        opacity: 1;
    }
    .informacionSeafood {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .informacionSeafood .textoInformacion {
        width: 100%;
        text-align: center;
        gap: .5em;
    }
    .informacionSeafood .imgInformacion {
        display: flex;
        margin: 0 auto;
        width: 80%;
        height: 45%;
    }
    .video {
        display: none;
    }
    .noticias {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }
    .noticias .intro {
        margin: 0 1em;
        text-align: center;
    }
    .noticias .btnNews {
        width: fit-content;
        margin: 1em;
    }
    .noticias .externos {
        display: none;
    }
    .blog .informacion {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        height: fit-content;
    }
    .blog .informacion img {
        width: 80%;
        height: 45vh;
    }
    .blog .informacion .blog__text {
        gap: 2em;
        margin: 2em;
        width: 90%;
    }
    .blog .informacion:nth-child(5) {
        flex-direction: column;
    }
    .blog .informacion:nth-child(5) .blog__text--right {
        width: 100%;
        padding: 3em;
    }
    .products {
        display: grid;
        grid-template-columns: 1fr;
        place-content: center;
    }
    .products .products__article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .products .products__article img {
        height: 45vh;
        width: 90%;
    }
    .products .products__article .products__text {
        width: 90%;
        margin: 1em;
    }
    .noticias__wraper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-content: center;
    }
    .noticias__wraper .noticias__article {
        width: 80%;
    }
    .creadores__wraper {
        flex-direction: column;
    }
    .creadores__wraper .creadores__text {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .creadores__wraper .creadores__text h2 {
        margin-top: .5em;
    }
    .creadores__wraper .creadores__text p {
        width: 100%;
        padding: 2em;
    }
    .creadores__wraper .creadores__img {
        display: flex;
        justify-content: center;
        margin-bottom: 2em;
    }
    .creadores__wraper .creadores__img img {
        margin: 0 auto;
        height: 50vh;
        width: 70%;
        object-fit: cover;
    }
    .creadores__articles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-content: center;
    }
    .creadores__articles .creadores__article {
        width: 40vw;
    }
    .creadores__articles .creadores__article > img {
        width: 50%;
        height: 20vh;
    }
    .creadores__articles .creadores__article .creadores__informacion .creadores__linkedin a img {
        width: 5vw;
    }
    .form__wraper {
        display: grid;
        grid-template-columns: 1fr;
        width: 75%;
        margin: 2em auto;
    }
    .form__wraper .form {
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0;
    }
    .form__wraper .form .form__inputs form .form__input {
        margin-left: 0;
        width: 100%;
    }
    .form__wraper .form__info {
        border-top-right-radius: 0;
        border-bottom-left-radius: 30px;
    }
    .form__wraper .form__info h3 {
        margin-bottom: 0;
    }
    .form__wraper .form__info ul li {
        margin-top: 0;
    }
    .form__wraper .form__info p {
        margin-bottom: 1.5em;
    }
}